/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap-sprockets"
@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap"

/* ----------------------------------------------- */

$light-grey: #545454
$dark-grey: #101010
$white: #fff
$light-red: #ff6666
$dark-blue: #0002b2
$grey-transparent: rgba(0,0,0,0.3)

/* ----------------------------------------------- */

$menu: $grey-transparent
$menu-font: $white
$hamburger-color: lighten($light-grey, 20%)

$main-background: $grey-transparent
$main-font: $white

$footer: $dark-grey
$footer-font: $white

/*--------------------------------------------------*/

/**
 * Media Queries
 */
@media screen and (max-width: 500px) 
  div
    width: 70% 

@media screen and (max-device-width: 800px)
  html
    background: url(https://thenewcode.com/assets/images/polina.jpg) #000 no-repeat center center fixed
  #bgvid
    display: none