/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap-sprockets"
@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap"

/* ----------------------------------------------- */

$light-grey: #545454
$white: #fff

/* ----------------------------------------------- */

$menu: $light-grey
$menu-font: $white